<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<body>
    <a href="#contents" class="skip">본문바로가기</a>
	<header id="header">
        <div class="contents">
            <h2 class="h2">회원가입</h2>
            <p>지구와 사람을 위한 공간, 별숲을 찾아주셔서 감사합니다.<br>회원이 되시면 별숲만의 혜택과 서비스를 누릴 수 있습니다.</p>
            <ol class="step">
                <li>STEP1<div>약관동의</div></li>
                <li>STEP2<div>회원정보입력</div></li>
                <li class="on">STEP3<div>가입완료</div></li>
            </ol>
            <h3 class="h3">가입완료</h3>
            <p>축하합니다 가입이 완료되었습니다.<br>이제 별숲만의 혜택과 서비스를 누릴 수 있습니다.</p>
            <div id="login-btn">
                <a href="/auth"><button class="btn_type1">로그인</button></a>
            </div>
        </div>
	</main>
</body>
</html>