<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
      <link  rel="stylesheet" href="/stylesheets/animate.css">
      <link rel="stylesheet" href="node_modules/@splidejs/splide/dist/css/splide.min.css">
</head>
<body>
    <!-- header start -->
    
    <header id="header">
        <div class="header_inner">
            <div class="header_logo">
                <a href="/"><img src="/images/logo/logo_transparent.png" alt="logo"></a>
            </div>
            <div class="header_select">
                <div class="header_select_symbol">
                    <a href="#"><img src="/images/symbol/search_symbol.png" alt="search"></a>
                </div>
                <div class="header_select_symbol">
                   <a href="#"><img src="/images/symbol/shopping-cart.png" alt="basket"></a>
                </div>
                <% if(user==undefined) {%>
                  <div class="header_select_symbol">
                    <a href="/auth"><img src="/images/symbol/user.png" alt="my_page"></a>
                </div>
                <% }else{ %> 
                  <div class="header_select_symbol">
                    <a href="/myforest"><img src="/images/symbol/logineduser.png" alt="my_page"></a>
                </div>
                <% } %> 
            </div>
        </div>
        <div class="menu">
         
          <div class="categories">
              <a href="#"><p>소개</p></a>
            </div>
            <div class="categories">
                <a href="/shop"><p>제품</p></a>
            </div>
            <div class="categories">
                <a href="/gallery"><p>갤러리</p></a>
            </div>
            <% if(user==undefined){ %> 
              <div class="categories">
                <a href="/auth"><p>별숲</p></a>
            </div>
              <% }else{ %> 
                <div class="categories">
                    <a href="/myforest"><p>별숲</p></a>
                </div>
                <% } %> 
          
        </div>
    </header>
    <!-- header end -->

    <!-- wrapper start -->
    <div id="wrapper">

      <!-- slider start -->
        <div class="swiper-container mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide" id="swiper-slide1">
                <div class="swiper-words">
                  <h3>PROVIDING QUALITY PRODUCTS</h3>
                  <h1>
                    <span>O</span>
                    <span>R</span>
                    <span>G</span>
                    <span>A</span>
                    <span>N</span>
                    <span>I</span>
                    <span>C</span>
                    <span> </span>
                    <span>F</span>
                    <span>R</span>
                    <span>O</span>
                    <span>U</span>
                    <span>T</span>
                    <span>!</span>
                  </h1>
                  <h2>100% HEALTHY & <br>
                    AFFORDABLE</h2>
                    <a href="">MORE>></a>
                </div>      
              </div>
              <div class="swiper-slide"  id="swiper-slide2">
                <div class="swiper-words">
                  <h3>PROVIDING QUALITY PRODUCTS</h3>
                  <h1>
                    <span>O</span>
                    <span>R</span>
                    <span>G</span>
                    <span>A</span>
                    <span>N</span>
                    <span>I</span>
                    <span>C</span>
                    <span> </span>
                    <span>F</span>
                    <span>R</span>
                    <span>O</span>
                    <span>U</span>
                    <span>T</span>
                    <span>!</span>
                  </h1>
                  <h2>100% HEALTHY & <br>
                    AFFORDABLE</h2>
                    <a href="">MORE>></a>
                </div>      
              </div>
              <div class="swiper-slide"  id="swiper-slide3">
                <div class="swiper-words">
                  <h3>PROVIDING QUALITY PRODUCTS</h3>
                  <h1>
                    <span>O</span>
                    <span>R</span>
                    <span>G</span>
                    <span>A</span>
                    <span>N</span>
                    <span>I</span>
                    <span>C</span>
                    <span> </span>
                    <span>F</span>
                    <span>R</span>
                    <span>O</span>
                    <span>U</span>
                    <span>T</span>
                    <span>!</span>
                  </h1>
                  <h2>100% HEALTHY & <br>
                    AFFORDABLE</h2>
                    <a href="">MORE>></a>
                </div>      
              </div>

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- <div class="swiper-pagination"></div> -->
          </div>
      <!-- slider end -->
      
      <br>
      <!-- about start -->
      <div class="about">
        <div class="about-text">
          <span class="about-text-title">"별숲"</span>
          <p>홀로 별을 세던 언덕 슬픈 은하수 축제의 밤<br>
            <span>나의 친구 캄파넬라</span> 어디까지라도 함께 떠나자   </p>
            <p>수많은 마음과 또 마음이 부딪혀 우는 밤<br>
              스쳐가는 만남과 또 <span>이별의 추억</span>으로</p>
            <p>마젤란 은하행 열차 푸른 달의 뒤편을 지나<br>
            <span>나의 친구 캄파넬라</span> 어디까지라도 함께 떠나자   </p>
            <p>수많은 마음과 또 마음이 부딪혀 우는 밤<br>
            스쳐가는 만남과 또 이별의 추억으로<br>
            빛나는 <span>은빛 별들의 바다</span></p>
          <a href=""><p>자세히 보기>></p></a>
        </div>
        <div class="about-image">
          <!-- <img src="/images/background/login_background.jpg" alt=""> -->
        </div>
      </div>
      <!-- about end -->

      <div class="product">
        <div class="product-text">
          <br>
          <br>
          <h1 class="wow fadeInRight">새로운 상품</h1>
          <br>
          <br>
        </div>
        <div class="product-image">
          <div class="product-first">
            <a href="">
              <img class="wow fadeInRight" src="/images/products/breakfast1.jpg" alt="">
              <div class="product-first-caption">
                <h3>제품 1</h3>
                <p>요거트는 맛있지롱</p>
                <p>가격 : 12,000원</p>
              </div>
            </a>
          </div>
          <div class="products">
            <a href="#">
              <img class="wow fadeInRight" src="/images/products/breakfast1.jpg" alt="">
              <div class="products-caption">
                <h3>제품 1</h3>
                <p>요거트는 맛있지롱</p>
                <p>가격 : 12,000원</p>
              </div>
            </a>
          </div>
          <div class="products">
            <a href="">
              <img class="wow fadeInRight" src="/images/products/raspberries-2023404_640.jpg" alt="">
              <div class="products-caption">
                <h3>제품 2</h3>
                <p>요거트는 맛있지롱</p>
                <p>가격 : 12,000원</p>
              </div>
            </a>
          </div>
          <br>
          <div class="products">
            <a href="">
              <img class="wow fadeInRight" src="/images/products/food-5976143_640.jpg" alt="">
              <div class="products-caption">
                <h3>제품 3</h3>
                <p>요거트는 맛있지롱</p>
                <p>가격 : 12,000원</p>
              </div>
            </a>
          </div>
          <div class="products">
            <a href="">
              <img class="wow fadeInRight" src="/images/products/set-3045129_1280.jpg" alt="">
              <div class="products-caption wowfadeInUp">
                <h3>제품 4</h3>
                <p>요거트는 맛있지롱</p>
                <p>가격 : 12,000원</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="slider-container wow fadeInUp">
        <div class="left-slide">
          <div style="background-color: #fd3555">
            <h1>5월 명예의 전당</h1>
            <p>This is slide 1</p>
          </div>
          <div style="background-color: #2a86ba">
            <h1>6월 명예의 전당</h1>
            <p>This is slide 2</p>
          </div>
          <div style="background-color: #252e33">
            <h1>7월 명예의 전당</h1>
            <p>This is slide 3</p>
          </div>
          <div style="background-color: #ffb866">
            <h1>"명예의 전당"</h1>
            <p>"별숲"에서 함께하는 행복한</p>
            <p>지구살리기 캠페인</p>
          </div>
        </div>
        <div class="right-slide">
          <div style="background-image: url(/images/background/team.jpg);"></div>
          <div style="background-image: url('/images/background/grimace.jpg');"></div>
          <div style="background-image: url('/images/background/portrait.jpg');"></div>
          <div style="background-image: url('/images/background/women.jpg');"></div>
        </div>
        <div class="action-buttons">
          <button class="down-button">
            <i class="fas fa-arrow-down"><img src="/images/slide/arrow-down-sign-to-navigate.png" alt=""></i>
          </button>
          <button class="up-button">
            <i class="fas fa-arrow-up"><img src="/images/slide/upload.png" alt=""></i>
          </button>
        </div>
      </div>
      <script src="/javascripts/test.js"></script>

      <div class="stellar">
        
      </div>
      
    </div>
  
  <!-- 푸터 시작 -->
  <footer id="footer">
    <div id="footer-inner">
        <div id="footer-inner-up">
            <div id="footer-inner-up-company">
                <h4>COMPANY</h4>
                <p>별숲(주)</p>
                <p>대표이사 : 김진우 임병군</p>
                <p>개인정보책임관리자 : 송하림</p>
                <p>사업총책임관리자 : 제정원</p>
                <p>사업자번호 : 123-45-78910</p>
                <p>통신판매업 신고번호 : 제2021-서울강동-01234호</p>
                <a href="">정보조회</a>
            </div>
            <div id="footer-inner-up-etc">
                <h4>ETC</h4>
                <a href="">공지사항</a>
                <a href="">이용약관</a>
                <a href="">개인정보취급방법</a>
                <a href="">FAQ</a>
                <a href="">환불규정</a>
            </div>
            <div id="footer-inner-up-contact">
                <h4>CONTACT</h4>
                <a href="">환불문의 : refund@gmail.com</a>
                <a href="">기타문의 : help@gmail.com</a>
                <p>사무실 : 서울특별시 강동구 천호역 3번출구</p>
            </div>
        </div>
    </div>
</footer>
<!-- 푸터 끝 -->











<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>

  <!-- wow css -->
  <script src="/javascripts/wow.min.js"></script>
  <script >
    new WOW().init();
  </script>
  <!-- honor -->
  <script src="/javascripts/honor.js"></script>
</body>
</html>