<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer" />
    <title>Myforest</title>
    <link rel='stylesheet' href='/stylesheets/myforest.css' />
</head>
<body>
    <header>
        <img class="logo" src="./img/별숲1.png">
        <div class="icon">돋보기</div>
        <div class="icon">장바구니</div>
        <div class="icon">로그인마크</div>
    </header>
    <div>
        <img class="tree" src="./img/나무1.jpg">
    </div>
    <div class="mytree"><a href="/myforest/mytree">내나무</a></div>
    <div class="myseed">내시드
        <p>회원님의 보유 시드는<br>
        10000seed입니다.</p>
    </div>
    <div class="myinfo"><a href="/myforest/myinfo">내정보</a></div>
    
</body>
</html>