<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer" />
    <title>Myforest</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel='stylesheet' href='/stylesheets/myforest.css' />
</head>

<body>
    <header>
        <% include ./header %>
    </header>
    <div>
        <img class="tree" src="/img/나무1.jpg">
        <div class="moretab">
            <div class="mymore"><a href="/myforest/mytree">내나무</a></div>
            <div class="mymore"><a href="/myforest/myinfo">내정보</a></div>
           
            
            <div class="mainslogan">소유하고있는 나무와 정보를 확인하세요.</div>
        </div>
    </div>
</body>

</html>