<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer" />
    <title>Myforest</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel='stylesheet' href='/stylesheets/mytree.css' />
</head>

<body>
    <header>
        <% include ./header %>
    </header>

    <div>
        <div class="mytreeinfo">
            <div class="mymore"><a href="/myforest/mytree">내나무</a></div>
            <div class="mymore"><a href="/myforest/myinfo">내정보</a></div>

            <div class="infolist">
                <div class="mytreetitle">내 정보</div>
                <div class="myinfotitle">내 아이디: <%= user%>
                </div>
                <div class="myinfotitle">내 이름: <%= name%>
                </div>
                <div class="myinfotitle">내 지갑주소: <%= address%>
                </div>
                <div class="myinfotitle">내 보유시드: <%= seed%>seeds (5000시드이상 환전가능)</div>
            </div>
        </div>

    </div>
</body>

</html>