<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    내나무정보

    <!-- 지금까지생성한 블록보여주기  -->
    <form action="getblockcount_result" method="post">
        <input type="submit" value="getblockcount">
    </form>
    지금까지 심은 나무는 <%= data %>
  

</body>
</html>